body {
    background: limegreen;
    font-family: sans-serif;
}

h1 {
  color: white;
}

#pokemonList, details {
    margin: auto 35px;
}

.pageSpan {
  color: #000;
}

.cap {
  text-transform: capitalize;
}

.pokemon {
    float: left;
    margin: 8px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.details {
    max-width: 95%;
    margin: 8px;
    margin-bottom: 12px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.details p {
    margin: 1px;
}

.center {
    clear: both;
    display: flex;
    justify-content: center;
}
