body {
    background: #555;
    font-family: sans-serif;
}

h1 {
  color: white;
}

.prevbtn {
  margin-right: 5px;
}

.nxtbtn {
  margin-left: 5px;
}

.pageSpan {
  color: white;
}

.cap {
  text-transform: capitalize;
}

.pokemon {
    float: left;
    margin: 8px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.details {
    margin: 8px;
    margin-bottom: 12px;
    padding: 20px;
    background: white;
    /*background: #eee;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.details p {
    margin: 1px;
}

.center {
    clear: both;
    display: flex;
    justify-content: center;
}
