body {
    background: #b33c3c;
    font-family: sans-serif;
}

h1 {
  color: #fbfbfb;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  text-transform: capitalize
}

#pokemonList, details {
    margin: auto 35px;
}

.pageSpan {
  color: #000;
}

.cap {
  text-transform: capitalize;
}

.pokemon {
/*    height: 240px;*/
    width: 205px;
    float: left;
    margin: 8px;
    padding: 10px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.pokemon p {
    text-align: -webkit-center;
}

.details {
    max-width: 97%;
    margin: 8px;
    margin-bottom: 12px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.details p {
    margin: 1px;
}

.center {
    clear: both;
    display: flex;
    justify-content: center;
}


/*Comma stuff*/
#comma:empty {
  display: none;
}

#comma:not(:nth-child(2)):before {
  content: ", ";
}


/*Types*/
.normal {
    color: #fbfbfb;
    border-top: 2px solid #d8d8d0;
    border-bottom: 2px solid #705848;
    padding: 0px 6px;
    background: #a8a878;
    border-radius: 25px;
}

.fire {
    color: #fbfbfb;
    border-top: 2px solid #f8d030;
    border-bottom: 2px solid #c03028;
    padding: 0px 6px;
    background: #f08030;
    border-radius: 25px;
}

.water {
    color: #fbfbfb;
    border-top: 2px solid #98d8d8;
    border-bottom: 2px solid #688eee;
    padding: 0px 6px;
    background: #6b8de1;
    border-radius: 25px;
}

.grass {
    color: #fbfbfb;
    border-top: 2px solid #bff860;
    border-bottom: 2px solid #588040;
    padding: 0px 6px;
    background: #78c850;
    border-radius: 25px;
}

.electric {
    color: #fbfbfb;
    border-top: 2px solid #f8f878;
    border-bottom: 2px solid #b8a038;
    padding: 0px 6px;
    background: #f8d030;
    border-radius: 25px;
}

.ice {
    color: #fbfbfb;
    border-top: 2px solid #c7f3e5;
    border-bottom: 2px solid #9090a0;
    padding: 0px 6px;
    background: #98d8d8;
    border-radius: 25px;
}

.fighting {
    color: #fbfbfb;
    border-top: 2px solid #f08030;
    border-bottom: 2px solid #484038;
    padding: 0px 6px;
    background: #c03028;
    border-radius: 25px;
}

.poison {
    color: #fbfbfb;
    border-top: 2px solid #d87fb8;
    border-bottom: 2px solid #483850;
    padding: 0px 6px;
    background: #a040a0;
    border-radius: 25px;
}

.ground {
    color: #fbfbfb;
    border-top: 2px solid #f8f877;
    border-bottom: 2px solid #886830;
    padding: 0px 6px;
    background: #e0c068;
    border-radius: 25px;
}

.flying {
    color: #fbfbfb;
    border-top: 2px solid #c8c0f8;
    border-bottom: 2px solid #705898;
    padding: 0px 6px;
    background: #a890f0;
    border-radius: 25px;
}

.psychic {
    color: #fbfbfb;
    border-top: 2px solid #f8c0b0;
    border-bottom: 2px solid #789010;
    padding: 0px 6px;
    background: #f85888;
    border-radius: 25px;
}

.bug {
    color: #fbfbfb;
    border-top: 2px solid #d8e030;
    border-bottom: 2px solid #a8b820;
    padding: 0px 6px;
    background: #a8b820;
    border-radius: 25px;
}

.rock {
    color: #fbfbfb;
    border-top: 2px solid #e0c067;
    border-bottom: 2px solid #886830;
    padding: 0px 6px;
    background: #b8a038;
    border-radius: 25px;
}

.ghost {
    color: #fbfbfb;
    border-top: 2px solid #a890f0;
    border-bottom: 2px solid #483850;
    padding: 0px 6px;
    background: #705898;
    border-radius: 25px;
}

.dark {
    color: #fbfbfb;
    border-top: 2px solid #a7a777;
    border-bottom: 2px solid #484038;
    padding: 0px 6px;
    background: #705848;
    border-radius: 25px;
}

.dragon {
    color: #fbfbfb;
    border-top: 2px solid #b8a0f8;
    border-bottom: 2px solid #483890;
    padding: 0px 6px;
    background: #7038f8;
    border-radius: 25px;
}

.steel {
    color: #fbfbfb;
    border-top: 2px solid #d8d8c0;
    border-bottom: 2px solid #807870;
    padding: 0px 6px;
    background: #b8b8d0;
    border-radius: 25px;
}

.fairy {
    color: #fbfbfb;
    border-top: 2px solid #f5cad1;
    border-bottom: 2px solid #906063;
    padding: 0px 6px;
    background: #f0b6bc;
    border-radius: 25px;
}
