
<!DOCTYPE html>
<html lang="en" ng-app="pokeApp">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Pokeapi App</title>
</head>
<body ng-controller="pokeController">

<div class="center">
  <h1>Pokemon Pokedex</h1>
</div>

<nav aria-label="..." class="center">
  <ul class="pager">
    <li class="previous" ng-click="previousPage()"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li><span class="pageSpan">Page {{page + 1}}</span></li>
    <li class="next" ng-click="nextPage()"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul><br>
  <input type="text" placeholder="Search for pokemon" ng-model="pokeName">
</nav>

<br>

<div id="pokemonList">

    <!-- Modal -->
    <div class="modal fade bs-example-modal-lg-new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div style="height:300px;width:300px;background-image:url(pokemon/LoadingIcon2.gif);margin:250px auto;" ng-hide="pokeInfo">Loading...</div>
      <div class="modal-dialog modal-lg">

        <!-- Modal Content: begins -->
        <div class="modal-content details ng-hide" ng-show="pokeInfo">

          <!-- Modal Header -->
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title" id="gridSystemModalLabel"><strong>{{pokeInfo.name}}</strong></h2>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">
            <div class="body-message">
              <p><strong>Sprites:</strong> <div>
                    <img id="spriteImg" ng-src="{{pokeInfo.sprites.front_default}}" onerror="this.src='pokemon/pokeball.png'" alt="front"></img>
                    <img id="spriteImg" ng-src="{{pokeInfo.sprites.front_shiny}}" onerror="this.src='pokemon/pokeball.png'" alt="front-shiny"></img>
                </div></p><br>
              <p><strong>ID:</strong> {{pokeInfo.id}}</p>
              <p><strong>Base Experience:</strong> {{pokeInfo.base_experience}}</p>
              <p><strong>Height:</strong> {{pokeInfo.height}}</p>
              <p><strong>Weight:</strong> {{pokeInfo.weight}}</p>
              <p><strong>Types:</strong> <span class="{{pokeInfo.types[0].type.name}}" data-toggle="tooltip" title="{{getTip(pokeInfo.types[0].type.name)}}" data-placement="bottom" >{{pokeInfo.types[0].type.name}}</span> <span class="{{pokeInfo.types[1].type.name}}" data-toggle="tooltip" data-placement="bottom" title="{{getTip(pokeInfo.types[1].type.name)}}">{{pokeInfo.types[1].type.name}}</span></p>
              <p><strong>Abilities:</strong> <span id="comma">{{pokeInfo.abilities[0].ability.name}}</span><span id="comma">{{pokeInfo.abilities[1].ability.name}}</span></p>
              <p><strong>Stats:</strong></p>
              <ul>
                  <li>{{pokeInfo.stats[5].base_stat}} {{pokeInfo.stats[5].stat.name}}<meter value="{{pokeInfo.stats[5].base_stat}}" min="0" high="100" max="200"></meter></li>
                  <li>{{pokeInfo.stats[4].base_stat}} {{pokeInfo.stats[4].stat.name}}<meter value="{{pokeInfo.stats[4].base_stat}}" min="0" high="100" max="200"></meter></li>
                  <li>{{pokeInfo.stats[3].base_stat}} {{pokeInfo.stats[3].stat.name}}<meter value="{{pokeInfo.stats[3].base_stat}}" min="0" high="100" max="200"></meter></li>
                  <li>{{pokeInfo.stats[2].base_stat}} {{pokeInfo.stats[2].stat.name}}<meter value="{{pokeInfo.stats[2].base_stat}}" min="0" high="100" max="200"></meter></li>
                  <li>{{pokeInfo.stats[1].base_stat}} {{pokeInfo.stats[1].stat.name}}<meter value="{{pokeInfo.stats[1].base_stat}}" min="0" high="100" max="200"></meter></li>
                  <li>{{pokeInfo.stats[0].base_stat}} {{pokeInfo.stats[0].stat.name}}<meter value="{{pokeInfo.stats[0].base_stat}}" min="0" high="100" max="200"></meter></li>
              </ul>
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>

        </div>
        <!-- Modal Content: ends -->
      </div>
    </div>

    <!-- Pokemon blocks -->
    <div class="pokemon" ng-repeat="mon in pokemon| filter:{name:pokeName}">
      <a aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg-new" ng-click="getMore(mon.url)">
      <p><span class="cap"><strong>{{mon.name}}</strong></span></p>
        <p><div class="div-wrapper"><img class="pokeBlock" ng-src="pokemon/{{mon.name}}.gif" onerror="this.src='//img.pokemondb.net/sprites/black-white/normal/{{mon.name}}.png';" alt="{{mon.name}}-Img"></img></div></p>
      <p><a class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg-new" ng-click="getMore(mon.url)"></a></p>
    </div></a><br>

</div>

</body>
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
<script src="js/index.js"></script>
</html>
